<header>
    <nav>
        <div id="nav-container">
            <div id="logo-e-marca">
                <img id="logo" src="./public/images/balcao-de-bar.png" alt="">
                <h1 id="marca">Adega Delivery</h1>
            </div>
            <ul id="lista-nav">
                <li><a href=".">PÁGINA INICIAL</a></li>
                <li><a href=".">PRODUTOS</a></li>
                <li><a href=".">CARRINHO</a></li>
                <li><a href=".">MINHA CONTA</a></li>
            </ul>
        </div>
    </nav>
</header>
