<header>
    <nav>
        <div id="nav-container">
            <div id="logo-e-marca">
                <img id="logo" src="/images/styles/balcao-de-bar.png" alt="">
                <h1 id="marca"><a href="/">Adega Delivery</a></h1>
            </div>
            <ul id="lista-nav">
                <li><a href="/produtos">PRODUTOS</a></li>
                <li><a href="/carrinho">CARRINHO</a></li>
                <li><a href="/usuario/minhaconta">MINHA CONTA</a></li>
            </ul>
        </div>
    </nav>
</header>
