
    <nav>
        <div id="nav-container">

            <img id="logo" src="/images/balcao-de-bar.png" alt="">

            <ul id="lista-Nav">
                <li><a href=".">PÁGINA INICIAL</a></li>
                <li><a href=".">PRODUTOS</a></li>
                <li><a href=".">CARRINHO</a></li>
                <li><a href=".">MINHA CONTA</a></li>
            </ul>
                
        </div>
    </nav>
