<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/carrinho.css">
</head>
<body>
    <section id="container">

        <header>
            <nav>
                <div id="nav-container">
                    <div id="logo-e-marca">
                        <img id="logo" src="/images/styles/balcao-de-bar.png" alt="">
                        <h1 id="marca"><a href="/">Adega Delivery</a></h1>
                    </div>
                    <ul id="lista-nav">
                        <li><a href="/produtos">PRODUTOS</a></li>
                        <li><a href=".">CARRINHO</a></li>
                        <li><a href="/usuario/minhaconta">MINHA CONTA</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="titulo">
            <h1>CARRINHO</h1>
        </div>

        <div id="area-produtos">
            <div class="produto-und">
                <img class="foto" src="/images/bebidas/bebida1.jpg">
                <div class="informacoes">
                    <p class="informacao"><b>nome do produto</b></p>
                    <p class="informacao">X <b>qtd</b></p>
                    <p class="informacao"><b>R$ </b>xx,xx</p>
                </div>
            </div>
            <div id="botao">
                <button>Confirmar Compra</button>
            </div>
        </div>

    </section>
</body>
</html>