<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/carrinho.css">
</head>
<body>
    <section id="container">

        <%- include("./partials/cabecalho") %>

        <div id="titulo">
            <h1>CARRINHO</h1>
        </div>

        <div id="area-produtos">
            <div id="carrinho-vazio" class="produto-und"><p>Seu Carrinho está vazio!</p></div>
        </div>
        <div id="div-botoes">
            <div class="botao">
                <button onclick="limparCarrinho()">Limpar Carrinho</button>
            </div>
            <div class="botao">
                <a href="/pagamento"><button id="botao-confirmar">Confirmar Compra</button></a>
            </div>
        </div>

    </section>
    <script src="/js/domCarrinho.js"></script>
</body>
</html>