<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/carrinho.css">
</head>
<body>
    <section id="container">

        <%- include("./partials/cabecalho") %>

        <div id="titulo">
            <h1>CARRINHO</h1>
        </div>

        <div id="area-produtos">
            
        </div>
        <div id="botao">
            <button onclick="getCarrinho()">Confirmar Compra</button>
        </div>

    </section>
    <script src="/js/domCarrinho.js"></script>
</body>
</html>