<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/catalogo.css">
</head>
<body>
    <section id="container">

        <%- include("./partials/cabecalho")%>

        <div id="titulo">
            <h1>CATÁLOGO</h1>
        </div>
        <div id="selecao-produtos">
            <h1><a href="">VINHOS</a></h1>
            <h1><a href="">VODKAS</a></h1>
            <h1><a href="">WHISKYS</a></h1>
        </div>
        <div id="area-produtos">
            <div class="area-catalogo">
                <h1 id="titulo-vinho">Vinhos</h1>
                <div class="catalago-produtos">
                    <div class="produto-und">
                        <h2>vinho</h2>
                    </div>
                    <div class="produto-und">
                        <h2>vinho</h2>
                        <!-- <P>
                            <%= pesquisa %>
                        </P> -->
                    </div>
                    <div class="produto-und">
                        <h2>vinho</h2>
                    </div>
                </div>
            </div>
            <div class="area-catalogo">
                <h1 id="titulo-vodka">Vodkas</h1>
                <div class="catalago-produtos">
                    <div class="produto-und">
                        <h2>vodka</h2>
                    </div>
                    <div class="produto-und">
                        <h2>vodka</h2>
                    </div>
                    <div class="produto-und">
                        <h2>vodka</h2>
                    </div>
                </div>
            </div>
            <div class="area-catalogo">
                <h1 id="titulo-whisky">Whiskys</h1>
                <div class="catalago-produtos">
                    <div class="produto-und">
                        <h2>whisky</h2>
                    </div>
                    <div class="produto-und">
                        <h2>whisky</h2>
                    </div>
                    <div class="produto-und">
                        <h2>whisky</h2>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>