<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../public/css/homePage.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/cabecalho.css">
</head>

<body>
    <header>
        <nav>
            <div id="nav-container">
                <div id="logo-e-marca">
                    <img id="logo" src="../public/images/estilos/balcao-de-bar.png" alt="">
                    <h1 id="marca"><a href="/">Adega Delivery</a></h1>
                </div>
                <ul id="lista-nav">
                    <li><a href="/produtos">PRODUTOS</a></li>
                    <li><a href="/carrinho">CARRINHO</a></li>
                    <li><a href="/usuario/minhaconta">MINHA CONTA</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="container">
        <div id="boas-vindas">
            <h1 id="titulo">BEM-VINDO A ADEGA DELIVERY!</h1>
            <p id="subtitulo">Aqui, voce encontra a bebida perfeita para completar sua noite (ou estante)</p>
        </div>
        <div id="promocoes-div">
            <h1>PRÓXIMOS EVENTOS</h1>
            <div id="promocoes-style">
                <div class="anuncio-promocao" id="namorados">
                    <div class="titulo-data">
                        <p class="titulo-promocao">O AMOR ESTÁ NO AR</p>
                        <P class="data-promocao">12/06/2022</P>
                    </div>
                    <img class="foto-promocao" src="../public/images/estilos/diaDosNamorados.png"
                        alt="dia dos namorados">
                    <p class="subTitulo-promocao">Nesse Dia dos Namorados, todos os vinhos estão com 20% de desconto!</p>
                </div>
                <div class="anuncio-promocao" id="namorados">
                    <div class="titulo-data">
                        <p class="titulo-promocao">FESTA JUNINA DA A.D!</p>
                        <P class="data-promocao">24/06/2022</P>
                    </div>
                    <img id="saoJoao" class="foto-promocao" src="../public/images/estilos/SaoJoao.jpg"
                        alt="festa junina">
                    <p class="subTitulo-promocao">Na compra de um whisky, ganhe um energético ou 15% de desconto!</p>
                </div>
            </div>
        </div>
        <div id="div-categorias">
            <h1 id="titulo-categorias">O QUE VOCÊ PROCURA?</h1>
            <div id="categorias">
                <a href="/produtos/#vinhos" id="vinho">
                    <h1 class="categoria">Vinho</h1>
                </a>
                <a href="/produtos/#whiskys" id="whisky">
                    <h1 class="categoria">Whisky</h1>
                </a>
                <a href="/produtos/#vodkas" id="vodka">
                    <h1 class="categoria">Vodka</h1>
                </a>
            </div>
        </div>
        <div id="previa-catalogo">
            <h1>TOP 5 MAIS VENDIDOS:</h1>
            <div id="previa-style">
                <div id="previa-produto">
                    <img class="produto-foto" src="../public/images/bebidas/bebida6.jpg" alt="">
                   <div class="infos-produto">
                       <p class="produto-nome">SINGLE STATE MERLOT</p>
                        <p class="info">750mls</p>
                        <p class="info">R$38,90</p>
                    </div> 
                </div>
                <div id="previa-produto">
                    <img class="produto-foto" src="../public/images/bebidas/bebida16.jpg" alt="">
                   <div class="infos-produto">
                       <p class="produto-nome"> JACK DANIELS HONEY</p>
                        <p class="info">1L</p>
                        <p class="info">R$135,90</p>
                    </div> 
                </div>
                <div id="previa-produto">
                    <img class="produto-foto" src="../public/images/bebidas/bebida2.jpg" alt="">
                   <div class="infos-produto">
                       <p class="produto-nome">ESTEBAN MARTIN ROSÉ</p>
                        <p class="info">750mls</p>
                        <p class="info">R$52,90</p>
                    </div> 
                </div>
                <div id="previa-produto">
                    <img class="produto-foto" src="../public/images/bebidas/bebida15.jpg" alt="">
                   <div class="infos-produto">
                       <p class="produto-nome">BALLANTINE'S FINEST</p>
                        <p class="info">750mls</p>
                        <p class="info">R$75,00</p>
                    </div> 
                </div>
                <div id="previa-produto">
                    <img class="produto-foto" src="../public/images/bebidas/bebida4.jpg" alt="">
                   <div class="infos-produto">
                       <p class="produto-nome">ERNST LOOSEN BRANCO</p>
                        <p class="info">750mls</p>
                        <p class="info">R$89,90</p>
                    </div> 
                </div>
            </div>
        </div>
        <div id="div-botao">
            <a href="/catalogo"><button>VER MAIS</button></a>
        </div>
    </section>
</body>

</html>