<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section id="container">
        <div id="login">
            <div id="marca-logo">
                <div>
                    <img id="logo" src="/images/estilos/balcao-de-bar.png" alt="logo">
                </div>
                <div>
                    <h1 id="marca"> <a href="/">ADEGA DELIVERY</a></h1>
                </div>
            </div>
            <h1 class="titulo">Login</h1>
            <form action="/usuario/login" method="POST">
                <input id="inputEmail" type="text" name="email" placeholder="Digite seu Email">
                <input id="inputSenha" type="password" name="senha" placeholder="Digite sua Senha">
                <button type="submit"><p>Entrar</p></button>
            </form>
            <p id="texto-Rodape">Não possui um cadastro? <a href="/usuario/cadastro">Crie uma Conta</a></p>
        </div>
    </section>
    <!-- <script src="../public/js/domLogin.js"></script> -->
</body>

</html>

    <!-- <main id="container-principal">

        <div id="div-fotoForm">
            <img id="foto-form" src="/images/fotoForm.jpg" alt="">
        </div>

        <div id="div-form">
            <div id="style-form">
                <h1>Login</h1>
                <form id="form-login" action="#">
                    <label class="label-form" for="email">Email:</label>
                    <input class="input-form" type="email" name="email" id="email" placeholder="Digite seu Email">
                   
                    <label class="label-form" for="senha">Senha:</label>
                    <input class="input-form" type="password" name="senha" id="senha" placeholder="Digite sua Senha">

                    <button type="submit" id="button-submit">Entrar</button>
                </form>
            </div>
            
        
        </div>

    </main>    -->