<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Conta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/minhaConta.css">
</head>

<body>
    <section id="container">

       <%- include('./partials/cabecalho.ejs') %>

        <div id="organizador">
            <div id="container-foto">
                <!-- <img id="foto-perfil" src="/images/estilos/fundo-de-bar.jpg" alt=""> -->
                <form action="/usuario/minhaconta" method="POST" enctype="multipart/form-data">
                    <input type="file" name="foto-perfil" id="foto-Perfil">
                    <button type="submit">Enviar</button>
                </form>
                <p><b>Bem vindo, <%=usuario.nome%></b></p>
            </div>
            <div id="area-edicao">
                <h1>Suas Informações:</h1>
                <form  action="/usuario/minhaconta" id="form-edicao" method="post">
                    <div id="organizador-form">
                        <div class="form-style">
                            <label for="nome_completo" id="label-nome"> Nome:</label>
                            <input type="text" name="nome" id="input-nome">
    
                            <label for="email" id="label-email">Email:</label>
                            <input type="email" name="email" id="input-email">
            
                            <label for="aniversario" id="label-aniver">Data de Nascimento:</label>
                            <input type="text" name="aniversario" id="input-aniver">
                        </div>
        
                        <div class="form-style">
                            <label for="sobrenome" id="label-sobrenome">Sobrenome:</label>
                            <input type="text" name="sobrenome" id="input-sobrenome">
            
                            <label for="senha" id="label-senha">Senha:</label>
                            <input type="password" name="senha" id="input-senha">
    
                            <label for="cpf" id="label-cpf">CPF:</label>
                            <input type="text" name="cpf" id="input-cpf">
                        </div>
                    </div>
                    <button type="submit">Atualizar</button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>