<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/paginaInicial.css">

    <title>teste</title>
</head>

<body>

    <div id="container-principal">

        <header>

            <%- include('./partials/cabecalho') %>

            <div id="banner-boasVindas">
                <div id="container-texto-boasVindas">
                    <h1>Seja Bem-Vindo à Adega Delivery!</h1>
                    <p>Aqui, você encontra a bebida perfeita para completar a sua noite (ou sua estante).</p>
                </div>

                <div id="botoes-criarConta-logar">
                    <h1> - Botões de Redirecionamento - </h1>
                </div>
            </div>

        </header>

    </div>

</body>

</html>