header{
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    background-color: rgb(160, 1, 1);
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    border-bottom: 2px solid black;
}

#nav-container {
    display: flex;
    margin-right: 0;
}

#logo-e-marca {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
    width: fit-content;
    height: 10vh;
}

#marca a {
    font-size: 1.5rem;
    margin-left: 15px;
    color: #fff;
}

#marca a:hover{
    color: darkgrey;
}

#logo {
    width: 60px;
}

#lista-nav {
    margin-right: 2vw;
    height: 12vh;
    display: flex;
    align-items: center;
}

#lista-nav li {
    list-style: none;
    margin-left: 3vw;
}

#lista-nav li a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

#lista-nav li a:hover{
    color: darkgray;
}