label {
    margin-top: 2vh;
    font-size: 1.5rem;
    color:black;
    width: fit-content;
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 80vh;
    padding-top: 25px;
    padding-bottom: 30px;
    border: 10px solid rgb(160, 1, 1);
    border-radius: 8px;
    box-shadow: 0 0 20px 10px;
    margin-left: 10vh;
    margin-right: 10vh;
}

#marca-logo{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

#logo{
    width: 55px;
    height: auto;
}

#marca {
    margin-top: 10px;
    margin-left: 12px;
    color: rgb(160, 1, 1);
    font-size: 12px;
}

#marca a {
    color: rgb(160, 1, 1);
}

#marca a:hover {
    color: black;
}

#titulo {
    font-size: 3rem;
    margin-top: 4vh;
    margin-bottom: 1vh;
    color: rgb(160, 1, 1);
}

#cadastro form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

#organizador {
    display: flex;
}

.form-style {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#cadastro form input {
    margin-top: 15px;
    height: 5vh;
    width: 28vw;
}

#cadastro form button {
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: 6vh;
    width: 20%;
    background-color: rgb(160, 1, 1);
    color: antiquewhite;
    border: 2px solid rgb(160, 1, 1);
}

#cadastro p {
    color:rgb(160, 1, 1);
}

#cadastro p a {
    color: rgb(160, 1, 1);
}

#cadastro p a:hover {
    color: black;
}

/* MANIPULAÇÂO DE DOM */

.invalido {
    border: 2px red solid
}

.senhaFraca {
    border: 2px red solid
}

.senhaMedia {
    border: 2px rgb(255, 255, 0) solid
}

.senhaForte {
    border: 2px green solid
}

.msgError {
    display: none;
    font-size: 1.2rem;
    color: crimson;
}