p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

/*  */

#container {
    margin-top: 12vh;
}    

#titulo {
    text-align: center;
    margin-top: 18vh;
}

#titulo h1 {
    font-size: 2.5rem;
}

#selecao-produtos {
    display: flex;
    margin-top: 3vh;
    background-color: #fff;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-top: 2px solid rgb(160, 1, 1);
    border-left: 2px solid rgb(160, 1, 1);
    border-right: 2px solid rgb(160, 1, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
}

#selecao-produtos a {
    color: rgb(160, 1, 1);
    /* background-color: rgb(160, 1, 1); */
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

#selecao-produtos a:hover {
    color: darkgrey;
    background-color: rgb(116, 7, 7);
}

#area-produtos {
    background-color: #fff;
    height: fit-content;
    width: 90vw;
    border:  2px solid rgb(160, 1, 1);
    padding: 2vh;
}

#titulo-vinho {
    font-size: 2.5rem;
    width: 20%;
    margin-left: 5vw;
    border-bottom: 5px solid rgb(160, 1, 1);
}

#titulo-vodka {
    font-size: 2.5rem;
    width: 20%;
    margin-left: 5vw;
    border-bottom: 5px solid rgb(4, 22, 189);
}

#titulo-whisky {
    font-size: 2.5rem;
    width: 20%;
    margin-left: 5vw;
    border-bottom: 5px solid rgb(226, 130, 21);
}

.area-catalogo{
    /* background-color: blueviolet; */
    height: fit-content;
    padding: 2vw;
    margin: 2vh;
}

.area-catalogo h1 {
    color: black;
}

.catalago-produtos{
    /* background-color: hotpink; */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.produto-und {
    /* background-color: cadetblue; */
    margin-top: 2%;
    text-align: center;
    padding: 1%;
    width: 30%;
}

.produto-und h2 {
    margin-top: 10px;
}

.foto-produto {
    width: 200px;
}

.informacao{
    color: black;
}

.botao-add{
    width: 6vw;
    height: 4vh;
    margin-top: 2vh;
    color: #fff;
    background-color: rgb(160, 1, 1);
    border: none;
}