#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 25px 100px 30px 100px;
    border: 10px solid rgb(160, 1, 1);
    box-shadow: 0 0 20px 10px;
}

#marca-logo{
    display: flex;
    align-items: center;
}

#marca {
    margin-top: 10px;
    margin-left: 12px;
    color: rgb(160, 1, 1);
    font-size: 16px;
}

#marca a {
    /* text-decoration: none; */
    color: rgb(160, 1, 1);
}

#marca a:hover {
    color: black;
}

#logo{
    width: 70px;
    height: auto;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#login form input {
    margin-top: 15px;
    height: 40px;
    width: 350px;
    text-align: center;
}

#login form input::placeholder {
    color: black;
}

.titulo {
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(160, 1, 1);
    text-decoration: underline;
}

#login form button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    width: 130px;
    background-color: rgb(231, 0, 0);
}

#login form button:hover{
    background-color: rgb(160, 1, 1);
    color: darkgray;
}

#login form button p {
    color: #fff;
    font-size: 1.1rem;
}

#login p {
    font-size: 1.2rem;
    color: rgb(160, 1, 1);
}

#login p a {
    color: rgb(160, 1, 1);
}

#login p a:hover {
    color: black;
}

/*  */

@media (max-width: 750px){
    #login {
        padding-left: 30px;
        padding-right: 30px;
    }
    #login form input {
        width: 250px;
    }
}