body {
    background-image: url('../images/fundo-de-bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 30px;
    border: 10px solid rgb(160, 1, 1);
    box-shadow: 0 0 20px 10px;
}

#marca-logo{
    display: flex;
    align-items: center;
}

#marca {
    margin-top: 10px;
    margin-left: 12px;
    color: rgb(160, 1, 1);
    font-size: 16px;
}

#marca a {
    /* text-decoration: none; */
    color: rgb(160, 1, 1);
}

#marca a:hover {
    color: black;
}

#logo{
    width: 70px;
    height: auto;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#login form input {
    margin-top: 15px;
    height: 5vh;
    width: 28vw;
}

#login form input::placeholder {
    color: black;
}

.titulo {
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(160, 1, 1);
    text-decoration: underline;
}

#login form button {
    margin-top: 5vh;
    margin-bottom: 4vh;
    height: 5vh;
    width: 40%;
    background-color: rgb(160, 1, 1);
}

#login form button p {
    color: antiquewhite;
    font-size: 1rem;
}

#login p {
    font-size: 1.2rem;
    color: rgb(160, 1, 1);
}

#login p a {
    color: rgb(160, 1, 1);
}

#login p a:hover {
    color: black;
}