#container {
    position: fixed;
    max-width: 1920px;
    width: 100%;
    height: 88vh;
    margin-top: 12vh;
}

#organizador {
    margin-top: 2vh;
    display: flex;
    height: 95%;
    width: 85%;
    background-color: antiquewhite;
    border: 4px solid rgb(160, 1, 1);
    border-radius: 8px;
}

#container-foto{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 35%;
    border-right: 4px solid rgb(160, 1, 1);
}

#foto-perfil{
    width: 300px;
    border: 4px solid rgb(160, 1, 1);
    border-radius: 8px;
    margin-top: 12vh;
}

#area-edicao{
    text-align: center;
    width: 65%;
}

#area-edicao h1 {
    margin-top: 5vh;
    color: rgb(160, 1, 1);
}

#container-foto p {
    margin-top: 15vh;
    font-size: 1.5rem;
    color: black;
}

#form-edicao {
    display: flex;
    flex-direction: column;
}

#form-edicao label {
    color: black;
    font-size: 1.5rem;
    margin-top: 6vh;
    margin-bottom: 0.5vh;
}

#form-edicao input {
    height: 5vh;
    width: 15vw;
}

#form-edicao button {
    height: 7vh;
    width: 10vw;
    background-color: rgb(160, 1, 1);
    color: antiquewhite;
}

#organizador-form {
    display: flex;
}

.form-style{
    display: flex;
    flex-direction: column;
    margin: 5vw;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.input-form {
    text-align: center;
}