#container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#organizador {
    margin-top: 140px;
    display: flex;
    height: fit-content;
    width: 50%;
    min-width:fit-content;
    background-color: antiquewhite;
    border: 4px solid rgb(160, 1, 1);
    border-radius: 8px;
    padding-bottom: 25px;
}

#area-edicao{
    text-align: center;
    width: 100%;
}

#titulo {
    width: 80%;
    margin-top: 5vh;
    color: rgb(160, 1, 1);
    font-size: 2.0rem;
}

#subTitulo {
    font-size: 1.2rem;
    margin-top: 7px;
}

#form-edicao {
    display: flex;
    flex-direction: column;
}

#form-edicao label {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 20px;
}

#form-edicao input {
    height: 30px;
    width: 225px;
    font-size: 1.1rem;
    text-align: center;
}

#form-edicao button {
    font-size: 1.1rem;
    height: 43px;
    width: 125px;
    background-color: rgb(250, 0, 0);
    color: antiquewhite;
    margin-top: 30px;
}

#form-edicao button:hover {
    background-color: rgb(160, 1, 1);
    color: darkgray;
}

#organizador-form {
    display: flex;
    width: 100%;
}

.form-style{
    display: flex;
    flex-direction: column;
}

#senha-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 1050px) {
    #organizador-form {
        flex-direction: column;
    }
    .form-style{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .form-style label {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #senha-style {
        margin-top: 20px;
    }
}